<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:/Ericsson/MyWorkingProject/Charging_System/dm_cs_2018_du_dubai/dev/src/JavaAPI/CreateJibxObject"/>
</launchConfiguration>
